<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="gradiente.css">
	<style type="text/css" media="screen">
	.fondo{
		margin: 0 auto;
	}		
	</style>

</head>
<body>
<div class="fondo">W
	
	asdasdasdasdasdasasdasdasdaaaaaaaaaa
	<a href="#" class="enlace">aaaa</a>
	<p class="tipografia">andy jesus  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.asdasdasdasd Ut enim ad minim veniam,
	quis nostrud asdasdasdasdexercitation ullamco laboris nisi asdasdasdasdut aliquip ex ea commodo<br>
	consequat. asdasdasdasdDuis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonsss
	proident, sunt in culpa qui officia deserunt mollit anim id est laborumaaaaaa.</p>	
	<div class="contenedor">
		<div>
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			<p>andy jesus  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
	
</body>
</html>