<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<style type="text/css" media="screen">
*{
	margin: 0;
	padding: 0;
}
body{
	background: #151313;
}
.galeria{
	width: 100%;
}
.galeria img{
	width: 400px;
	padding: 5px;
	vertical-align: top;
	margin: 20px 10px;
	border: 1px solid #484848;
	opacity: 0.5;
	border-radius: 100px;
}
.galeria img:hover{
	border: 1px solid #fff;
	opacity: 1;
	border-radius: 100%;
	
}

	
</style>
<body>
<div class="galeria">
	<img src="http://lorempixel.com/400/200/" alt="imagen" >
	
	<img src="http://lorempixel.com/400/200/" alt="imagen">
	<img src="http://lorempixel.com/400/200/" alt="imagen">
	<img src="http://lorempixel.com/400/200/" alt="imagen">
	<img src="http://lorempixel.com/400/200/" alt="imagen">
	<img src="http://lorempixel.com/400/200/" alt="imagen">
	






</div>
	
</body>
</html>