<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style>
	body{
		font-family: Arial,sans-serif,Helvetica;background: #e8e8e8;
	}
	.menu{
		list-style: none;
		padding: 0;
		background: #092327;
		width: 90%;position;
		max-width: 1000px;
		margin:20px auto;
	}
	.menu li a{
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 20px;
	}
	.menu li{
		display: inline-block;
		text-align: center;
	}
	.menu li a:hover{
		background: #ef8354;
	}
		
	
	
	</style>
	
	
	
</head>
<body>
<ul class="menu">
	<li><a href="#">inicio</a></li>
	<li><a href="#">producto</a></li>
	<li><a href="#">acerca</a></li>
	<li><a href="#">contacto</a></li>
	<li><a href="#">referencia</a></li>
	<li><a href="#">fin</a></li>
</ul>
	
</body>
</html>