<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style type="text/css" media="screen">
		.caja{
			width: 200px;
			height: 200px;
			background-color: #755B69;
			transition:all 1s ease;
			/* transition-delay: 1s; */
			/* velocidad de curva
			ease-inicio lento,despuesrapido y termina lento
			linear-misma velocidad de inicio a fin
			ease-in inicio lento
			ease-out final lento
			ease-in-out inicio lento final lento */
		}
		.caja:hover{
			background: #553555;
			width: 400px;
			transform: rotate(180deg);

		}



	</style>
</head>
<body>
<div class="caja"></div>
	
</body>
</html>